
.btn {
  color: #fff;
  background-color: #4CAF50; /* Green */
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.btn-success{background-color: #4CAF50;} /* Green */
.btn-success:hover{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary{background-color: #008CBA;} /* Blue */
.btn-danger{background-color: #f44336;} /* Red */
.btn-danger:hover{
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-light {background-color: #e7e7e7; color: black;} /* Gray */
.btn-dark {background-color: #555555;} /* Black */
