{{- define "content" -}}
{{-  $prefix := (print .Lang ".view.admin.fragment.insert.") }}

<h1>{{- TranslateFor "title" $prefix}}</h1>
{{- TranslateFor "description" $prefix}}
<br />
{{-  template "entity.forms.fragment" (dict "Data" .Data.Form "Lang" .Lang "Valid" .Data.Valid "Fields" .Data.Fields) -}}

{{- end -}}