{{- define "content" -}}

<h1>Translation</h1>

{{ if eq (len .Data.Collection) 0 -}}
No data to show
{{- else }}
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>{{- range $i, $translation := .Data.Collection }}" }}
      <tr>
        <td>{{- $translation.Key -}}</td>
        <td>{{- $translation.Value -}}</td>
      <tr>
    {{- end }}
  </tbody>
</table>
{{- end }}


{{- end }}