{{define "footer"}}
  {{$prefix:=(print .Lang ".layout.")}}
  <br />
  <footer class="footer">
    <p>{{TranslateFor "footer" $prefix}} Created with <a href="http://goatcms.org">&copy; 2016 GoatCMS</a></p>
  </footer>
{{end}}
