<!doctype html>
<html class="no-js" lang="">
{{template "head" .}}
<body>
<div class="container">
  {{template "navbar" .}}
  {{template "content" .}}
  {{template "footer" .}}
</div>
{{template "scripts" .}}
</body>
</html>
