{{define "articles/list"}}
<!doctype html>
<html class="no-js" lang="">

  {{template "head"}}

<body>

<div class="container">

  {{template "navbar"}}

  <div class="jumbotron">
    <h1>Articles list</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>Number of articles: {{len .}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">

        {{range .}}
        <a href="/article/{{.ID}}" class="list-group-item">
          <h4 class="list-group-item-heading">{{.Title}}</h4>
          <p class="list-group-item-text">{{.Content | CutText 400}}</p>
        </a>
        {{end}}

      </div>
    </div>
  </div>

  {{template "footer"}}

</div> <!-- /container -->

{{template "scripts"}}

</body>
</html>
{{end}}
