{{define "users/register"}}
<!doctype html>
<html class="no-js" lang="">

  {{template "head"}}

<body>

<div class="container">

  {{template "navbar"}}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Sign up</h1>
      <br />

      {{if .Error}}
      <p class="text-danger">{{.Error}}</p>
      {{end}}

      <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
          <label for="newEmail">Email:</label>
          <input type="text" class="form-control" value="{{.Email}}"
                 id="newEmail" name="email">
        </div>
        <div class="form-group">
          <label for="newPassword">Password:</label>
          <input type="password" class="form-control"
                 id="newPassword" name="password">
        </div>
        <br />
        <div class="form-group">
          <input type="submit" class="btn btn-lg btn-primary btn-block"
                 value="Register"></input>
        </div>
      </form>

    </div>
  </div>


  {{template "footer"}}

</div> <!-- /container -->

{{template "scripts"}}

</body>
</html>
{{end}}
